#root {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}

.app {
  width: 400px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50);
  margin-bottom: 0px;
}

h2 {
  color: #fff;
}

.navbar {
  display: flex;
  width: 300px;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
}

.images {
  display: flex;
  width: 300px;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

.swipe {
  position: absolute;
  background-color: #F8F9FA !important;
  /* height: 500px; */
}

.swipe>div {
  width: 260px;
  margin-top: 10px;
  font-family: 'Signika', sans-serif;
  /* font-weight: 600; */
}

.cardContainer {
  width: 90vw;
  width: 292px;
  height: 380px;
  align-self: center;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  /* border-radius: 20px; */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

/* .card img {
  max-width: 260px;
  height: 200px;
  object-fit: cover;
} */

.card div {
  /* position: absolute; */
  /* bottom: 0; */

  /* margin: 10px; */
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin-top: 30px;
  width: 280px;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  /* color: #fff; */
  font-size: 18px;
  /* background-color: #9198e5; */
  background-color: #F8F9FA;
  transition: 200ms;
  /* margin: 0 10px; */
  /* font-weight: bolder; */
  /* width: 160px; */
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

.bi-heart-fill:active {
  color: #c94884;
}

/* .buttons button:active {
  background-color: red;
  border: 5px solid black !important;
} */

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
